.card {
  max-width: 413px;

  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.card__title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 353px;
}

.card__image {
  display: block;
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 12px;
}

.card__image:hover {
  cursor: pointer;
}

.card__delete-btn {
  background-image: url(../images/delete..svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
  cursor: pointer;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .card {
    width: 288px;
  }

  .card__content {
    gap: 8px;
    display: flex;
    align-items: flex-start;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1.2;
    max-width: 210px;
  }

  .card__like-btn {
    height: 18px;
    width: 20px;
  }
}
