.footer {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  padding: 60px;
  color: #212121;
  opacity: 0.7;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1;
}

.footer__copy {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 627px) {
  .footer {
    padding-top: 60px;
  }
}
