.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background-image: url(../images/close.svg);
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  opacity: 0.4;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__close-btn_type_preview {
  background-image: url(../images/delete-preview-Btn.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  width: 169px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  color: #21212170;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  padding-left: 12px;
  border-color: #21212140;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  box-sizing: border-box;
}

.modal__input:hover {
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  display: block;
  color: #f00;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 110%;
  margin-top: 8px;
}

.modal__save-btn {
  height: 52px;
  max-width: 156px;
  padding: 18px 32px;
  background-color: #212121;
  display: flex;
  gap: 8px;
  border-radius: 8px;
  color: #fcf5e5;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  justify-content: center;
}

.modal__save-btn_disabled {
  background-color: #212121;
  opacity: 0.5;
}

.modal__save-btn_disabled:hover {
  background-color: #212121;
  opacity: 0.8;
}

.modal__save-btn:hover {
  cursor: pointer;
}

.modal__input_type_error {
  border: 1px solid #f00;
  opacity: 0.6;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: fit-content;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
    padding: 12px 12px 0 0;
    margin-bottom: 24px;
  }

  .modal__close-btn {
    line-height: 1;
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__content {
    padding: 12px;
  }

  .modal__label {
    font-size: 16px;
    margin: 0 0 24px;
    padding-bottom: 8px;
    font-weight: 500;
    line-height: 110.00000000000001%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
  }

  .modal__input {
    margin-top: 12px;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modal__save-btn {
    max-width: 100%;
  }
}
